.navbar {
  background-color: #4386fc;
  border-radius: 0px !important;
}

.cardid{
  display: none;
}
.carddelid{
  display: none;
}
#loading{
  display: none;
}

.cardoption{
  font-size: 1.5em;
  color: #9E9E9E;
  text-align: center;
  margin: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  /*display: none;*/
}

.cardsubject{
  height: 55%;
  width:100%;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: #29B6F6;
  margin: 0px ;
  display:flex;
  align-items: center;
  justify-content: center;
}

.cardcourse{
  color: #01579B;
  font-size: 20px;
  padding: 10px;
  margin: 0px ;
  font-family: 'Roboto', sans-serif;
}

.cardsem{
  font-size: 20px;
  padding: 10px;
  margin: 0px ;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

#cardholder{
  margin-top: 3%;
}

.cardlink{
  text-decoration: none !important;
}

.cardee{
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;

  height: 180px;
  width: 22%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.7s ;
  padding: 0px !important;
  cursor: pointer;
  text-decoration: none !important;
}

.cardee:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.errfill {
  margin-bottom: 0px !important;
  margin-top: 20px;
  display: none;
}

.successsubject {
  margin-bottom: 0px !important;
  margin-top: 20px;
  display: none;
}

.navbar-text {
  color: #f5f5f5;
  font-size: 24px;
}

.glyphicon-log-out {
  font-size: 20px;
}

a.logoutbtn {
  font-size: 20px;
  margin-top: 5px;
  color: #f5f5f5;
  display: inline-block;
  cursor: pointer;
}

a.logoutbtn:hover {
  text-decoration: none;
  color: #f5f5f5;
  background-color: transparent !important;
}

.button-wrap {
  display: inline-block;
}

.addbtn:hover {
  opacity: .85;
  cursor: pointer;
}

.addbtn {
  background: #01579B;
  transition: 1s;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
}

.add-form {
  padding-bottom: 20px;
  /*box-shadow: 0 4px 6px -6px #232323;*/
}

.add-form {
  display: none;
}

.cardsize{
  width: 23% !important;
  margin: 1%;
  min-width: 23% !important
}

@media screen and (max-width: 767px) {
  .charset{
    width: 25;
  }
  .cardsize{
    width: 31% !important;
    margin: 1%;
  }

}

@media screen and (max-width: 580px) {
  .charset{
    width: 25;
  }
  .cardsize{
    width: 48% !important;
    margin: 1%;
  }

}


/*---------------------------------------------file DashBoard-----------------------------------------------------------*/

#fileCardContainer{
  margin-top: 40px;
}

.filecard{
  height: 200px;
  width: 130px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 1s ;
  padding: 0px !important;
  cursor: pointer;
  text-decoration: none !important;
  border-radius: 7px;
  border-top-right-radius: 35px;
}

.filecard:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-top-right-radius: 7px;
}

.filecardsize{
  width: 14.6% !important;
  margin: 1%;
}

@media screen and (max-width: 1200px) {

  .filecardsize{
    width: 16% !important;
    margin: 1%;
  }

}

@media screen and (max-width: 991px) {

  .filecardsize{
    width: 23% !important;
    margin: 1%;
  }

}

@media screen and (max-width: 768px) {

  .filecardsize{
    width: 31.33% !important;
    margin: 1%;
  }

}

@media screen and (max-width: 565px) {

  .filecardsize{
    width: 48% !important;
    margin: 1%;
  }

}
